<html>
    <body>
        <h3>Hello, {{name}}</h3>
    
        <p>Your Response : {{feedback}}</p>

        <p>For your queries our LDCE ACM Team will as soon as possible connect to you.</p>
        
        <br><p>Team LDCE ACM</p>

        <p><b style="font-size: 0.8rem;">LDCE ACM Student Chapter</b><br><small>Connect. Collaborate. Create</small></p>
        <a href="https://ldce.acm.org/" target="_blank"> ldce.acm.org </a>
        <p>Follow us <b>@ldceacm </b></p>
        <a href="https://www.facebook.com/ldceacm/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/facebook-new.png"/></a>
        <a href="https://www.instagram.com/ldceacm/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/instagram-new.png"/></a>
        <a href="https://twitter.com/ldceacm" target="_blank"><img src="https://img.icons8.com/color/32/000000/twitter--v1.png"/></a>
        <a href="https://www.linkedin.com/company/ldceacm/mycompany/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/linkedin.png"/></a>
    </body>
</html>