{% load static %}
<html>
    <body>
        
        <p><b>Event Name :</b> {{upcomingevents.0.eventTitle}} </p>
        <p><b>Event Date :</b> {{upcomingevents.0.eventDate}} </p>
        <p><b>Event Speaker:</b> {{upcomingevents.0.eventspeakers}} </p>
        <p><b>Event Duration :</b> {{upcomingevents.0.eventDuration}} </p>
        <p><b>Event Description :</b> {{upcomingevents.0.eventDescription}} </p>
        
        <br>
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="https://ldce.hosting2.acm.org/chapter-logo.jpg" alt="LDCE ACM" height="100",width="100">
        </div>
        <br><p>Team LDCE ACM</p>

        <p><b style="font-size: 0.8rem;">LDCE ACM Student Chapter</b><br><small>Connect. Collaborate. Create</small></p>
        <a href="https://ldce.acm.org/" target="_blank"> ldce.acm.org </a>
        <p>Follow us <b>@ldceacm </b></p>
        <a href="https://www.facebook.com/ldceacm/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/facebook-new.png"/></a>
        <a href="https://www.instagram.com/ldceacm/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/instagram-new.png"/></a>
        <a href="https://twitter.com/ldceacm" target="_blank"><img src="https://img.icons8.com/color/32/000000/twitter--v1.png"/></a>
        <a href="https://www.linkedin.com/company/ldceacm/mycompany/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/linkedin.png"/></a>
    </body>
</html>