{% extends 'app/base.html' %}
{% load static %}
{% block title %}Gallery View{% endblock title %}

{% block main-content %}

<section class="galleryview">
<div class="container pt-5 eventhead">
    <div class="row text-center">
        <div class="col-lg-12 gallheadingdiv">
            <h3 class="meetteam">{{ename}}</h3>
        </div>
    </div>
</div>


<div class="cotainer">
  <main class="main mt-3">
    <div class="container">
        {% for i in galleryview %}
      <div class="card mb-5">
        <div class="card-image">
          <a href="{{i.images.url}}" data-fancybox="gallery" data-caption="{{forloop.counter}}">
            <img src="{{i.images.url}}" alt="Image Gallery">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
</section>

{% endblock main-content %}