<html>
    <body>
        <h3>Hello, {{name}}</h3>
        <h2> Congratulations!! You are now the LDCE ACM Local Member!</h2>
    

        <p>You will receive benefits, resources, updates via this mailing list.</p>

        <p>Also, you can share your thoughts, questions, queries, updates to this mail to reach all the members of LDCE ACM.
        Don't forget to follow us on social media @ldceacm to stay super updated!!</p>

        <p>Hope you take the maximum benefit of the resources provided to you!</p>


        <br><p>Team LDCE ACM</p>

        <p><b style="font-size: 0.8rem;">LDCE ACM Student Chapter</b><br><small>Connect. Collaborate. Create</small></p>
        <a href="https://ldce.acm.org/" target="_blank"> ldce.acm.org </a>
        <p>Follow us <b>@ldceacm </b></p>
        <a href="https://www.facebook.com/ldceacm/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/facebook-new.png"/></a>
        <a href="https://www.instagram.com/ldceacm/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/instagram-new.png"/></a>
        <a href="https://twitter.com/ldceacm" target="_blank"><img src="https://img.icons8.com/color/32/000000/twitter--v1.png"/></a>
        <a href="https://www.linkedin.com/company/ldceacm/mycompany/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/linkedin.png"/></a>
    </body>
</html>